<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ssafy.realty.Mapper.CommentMapper">

    <resultMap id="CommentResultMap" type="ssafy.realty.Entity.Comment">
        <id property="id" column="a_id"/>
        <result property="content" column="a_content"/>
        <result property="createdDate" column="a_created_date"/>
        <result property="updatedDate" column="a_updated_date"/>
        <!-- 댓글 작성자 ID 매핑을 위한 association 추가 -->
        <association property="user" javaType="ssafy.realty.Entity.User">
            <id property="id" column="a_user_id"/>
            <result property="name" column="a_user_name"/>
        </association>

        <collection property="replies" ofType="ssafy.realty.Entity.Comment">
            <id property="id" column="b_id"/>
            <result property="content" column="b_content"/>
            <result property="createdDate" column="b_created_date"/>
            <result property="updatedDate" column="b_updated_date"/>
            <!-- 답글 작성자 ID 매핑 -->
            <association property="user" javaType="ssafy.realty.Entity.User">
                <id property="id" column="b_user_id"/>
                <result property="name" column="b_user_name"/>
            </association>
        </collection>
    </resultMap>

    <resultMap id="CommentMap" type="ssafy.realty.Entity.Comment">

        <id property="id" column="id"/>
        <result property="content" column="content"/>
        <result property="createdDate" column="createdDate"/>
        <result property="updatedDate" column="updatedDate"/>

        <!-- 소유권 확인을 위해 User ID 매핑 필수 -->
        <association property="user" javaType="ssafy.realty.Entity.User">
            <id property="id" column="user_id"/>
        </association>
    </resultMap>

    <!-- findById: 댓글 소유권 확인용 -->
    <select id="findById" resultMap="CommentMap">
        SELECT
        id,
        content,
        createdDate,
        updatedDate,
        user_id  <!-- user_id 컬럼 추가 -->
        FROM Comment
        WHERE id=#{id}
    </select>

    <select id="selectCommentsByUserId" resultMap="CommentMap">
        SELECT
            id,
            content,
            createdDate,
            updatedDate,
            user_id
        FROM Comment
        WHERE user_id = #{userId}
    </select>

    <select id="selectPostByID" resultMap="CommentResultMap">
        SELECT
        a.id               AS a_id,
        a.content          AS a_content,
        a.createdDate      AS a_created_date,
        a.updatedDate      AS a_updated_date,
        a.user_id          AS a_user_id,
        ua.name            AS a_user_name,
        b.id               AS b_id,
        b.content          AS b_content,
        b.createdDate      AS b_created_date,
        b.updatedDate      AS b_updated_date,
        b.user_id          AS b_user_id,
        ub.name            AS b_user_name
        FROM Comment a
        LEFT JOIN Comment b ON a.id = b.parentComment_id
        LEFT JOIN `User` ua ON ua.id = a.user_id
        LEFT JOIN  `User` ub ON ub.id = b.user_id
        WHERE a.post_id = #{postId}
        AND a.parentComment_id IS NULL
    </select>

    <update id="updateComment" parameterType="ssafy.realty.Entity.Comment">
        UPDATE Comment
        SET content = #{content},
            updatedDate = NOW()
        WHERE id = #{id}
    </update>

    <insert id="insertComment">
        INSERT INTO Comment (
        post_id,
        user_id,
        content,
        createdDate,
        updatedDate,
        parentComment_id
        )
        VALUES (
        #{postId},
        #{userId},
        #{comment.content},
        NOW(),
        NOW(),
        <if test="parentCommentId != 0">#{parentCommentId}</if>
        <if test="parentCommentId == 0">NULL</if>
        )
    </insert>

    <delete id="deleteComment">
        DELETE FROM Comment WHERE id = #{commentId}
    </delete>
</mapper>