<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ssafy.realty.Mapper.CommentMapper">

    <resultMap id="CommentResultMap" type="ssafy.realty.Entity.Comment">
        <id property="id" column="a_id"/>
        <result property="content" column="a_content"/>
        <result property="createdDate" column="a_created_date"/>
        <result property="updatedDate" column="a_updated_date"/>

        <collection property="replies" ofType="ssafy.realty.Entity.Comment">
            <id property="id" column="b_id"/>
            <result property="content" column="b_content"/>
            <result property="createdDate" column="b_created_date"/>
            <result property="updatedDate" column="b_updated_date"/>
        </collection>
    </resultMap>

    <select id="selectCommentsByUserId" resultType="ssafy.realty.Entity.Comment">
        SELECT * FROM Comment WHERE user_id = #{userId}
    </select>

    <select id="selectPostByID" resultMap="CommentResultMap">
        SELECT
            a.id               AS a_id,
            a.content          AS a_content,
            a.createdDate      AS a_created_date,
            a.updatedDate      AS a_updated_date,
            b.id               AS b_id,
            b.content          AS b_content,
            b.createdDate      AS b_created_date,
            b.updatedDate      AS b_updated_date
        FROM Comment a
                 LEFT JOIN Comment b ON a.id = b.parentComment_id
        WHERE a.post_id = #{postId}
          AND a.parentComment_id IS NULL
    </select>

    <update id="updateComment" parameterType="ssafy.realty.Entity.Comment">
        UPDATE Comment
        SET content = #{content},
            updatedDate = NOW()
        WHERE id = #{id}
    </update>

    <insert id="insertComment">
        INSERT INTO Comment (
        post_id,
        user_id,
        content,
        createdDate,
        updatedDate,
        parentComment_id
        )
        VALUES (
        #{postId},
        #{userId},
        #{comment.content},
        NOW(),
        NOW(),
        <if test="parentCommentId != 0">#{parentCommentId}</if>
        <if test="parentCommentId == 0">NULL</if>
        )
    </insert>

    <delete id="deleteComment">
        DELETE FROM Comment WHERE id = #{commentId}
    </delete>

</mapper>