<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ssafy.realty.Mapper.UserMapper">

    <insert id="saveUser" parameterType="ssafy.realty.Entity.User" useGeneratedKeys="true" keyProperty="id" >
        INSERT INTO User (email,password,name,age,birthDate,createdDate,updatedDate)
        VALUES (#{email},#{password},#{name},#{age},#{birthDate}, NOW(), NOW())
    </insert>

    <select id="findByEmail" parameterType="String" resultType="ssafy.realty.Entity.User">
        SELECT *
        FROM User
        WHERE email = #{email}
    </select>

    <select id="findById" parameterType="int" resultType="ssafy.realty.Entity.User">
        SELECT *
        FROM User
        WHERE id = #{id}
    </select>

    <update id="update" parameterType="ssafy.realty.Entity.User">
        UPDATE User
        SET name = #{name},
            age = #{age},
            email = #{email},
            birthDate = #{birthDate},
            updatedDate = NOW()
        WHERE id = #{id}
    </update>

    <select id="findSearchHistoryByUserId" parameterType="int" resultType="ssafy.realty.Entity.SearchHistory">
        SELECT id, createdDate, updatedDate, user_id as userId, text
        FROM SearchHistory
        WHERE user_id = #{userId}
        ORDER BY createdDate DESC
    </select>

    <update id="updatePassword" parameterType="ssafy.realty.Entity.User">
        UPDATE User
        SET password = #{password},
            updatedDate = NOW()
        WHERE id = #{id}
    </update>

    <insert id="insertSearchHistory" parameterType="ssafy.realty.Entity.SearchHistory">
        INSERT INTO SearchHistory (user_id, text, createdDate, updatedDate)
        VALUES (#{userId}, #{text}, NOW(), NOW())
    </insert>

</mapper>